# dependencies
node_modules/
.pnpm-store/

# builds
dist/
.next/
out/
*.tsbuildinfo

# test / coverage
coverage/

# env
.env
.env.local
.env*.local

# turbo
.turbo/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
